body{
   background-color: bisque;
}
/*h1,p{ /*Agrupamento de seletores
    color: brown;
    border: 1px solid black;
    border-radius: 30%;
}*/
h1{
    color: brown;
    border: 1px solid black;
    border-radius: 30%;
    text-align: center;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /*forma resumida -- margin: 30px 70px 50px 100px*/
    /*to dizendo que em cima quero 30 a esquerda 70 em baixo 50 e a direita 100*/
    padding-top: 100; 
    /*O padding mexe na margem de dentro do elemento, um preenchimento*/
    padding-bottom: 100px;

    /*padding: 50px 70px 20px 10px -- forma resumida*/
}
p{
    color: black;
    text-align: center;
    text-align: right;
    text-align: left;
    text-align: justify;
    direction: rtl; /*Deixar as letras da direita pra esquerda*/
    text-decoration: none; /*usa-se bastante para editar links*/
    text-decoration: line-through; /*Risca o meio da linha*/
    text-decoration: underline;/*Sublinha a linha*/
    text-transform: uppercase;/*Deixa todas as letras do texto em maiusculas*/
    text-transform: capitalize; /*Deixa a primeira palavra em maiusculo*/
    text-indent: 50%; /*Da o efeito de parágrafo*/

}

.rosa{
    
    color: blueviolet;
    margin-bottom: 3;

}
.center{
    text-align: center;
}

.fonte-30{
    font-size: 30px;
}
#teste{
    color: yellow;
    background-color: aqua;
}
.exemplo{
    height: 300px;
    background-color: blue;
    margin-bottom: 100px;
}
.botao{
    margin-left:33%;
    background-color: blueviolet;
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}
.botao:hover{
    /*houver - Sobre - o que vai acontecer quando passsar o mouse*/
    background-color: rgb(168, 118, 214);
    text-decoration: none;
}
/*
h2{
    color: aqua; propriedade de cor
    background-color:purple ; cor de fundo
    background-image
}

h1{ -- tipos de bordas
    border-top: 5px color -- onde quero que a borda apareça + o tamanho + cor
    border-left: 2px
    border-right:5px
    border-bottom: 2px

    border-radius:5px; -- Borda arredondada + o quanto quer que arredonde
    border: 2px dashed color -- colocar a cor;
    border: 2x double;
    border: ridge
    border: inset
    border: solid
    border: dashed
    border: dotted
}
*/
a.botao1{ /*expecificando que o css só vai funcionar se for link e botao 1, seletor expecifico */
    background-color: pink;
    color: azure;
    padding: 10px;
    text-decoration: none;
    border: 4px solid powderblue;
    border-radius: 5px;
}
a.botao1:hover{ /*expecificando que o css só vai funcionar se for link e botao 1, seletor expecifico */
    background-color: rgb(241, 221, 224);
    color: rgb(226, 43, 134);
    padding: 12px; /*Mudando o px pra o botao crescer*/  
    border: 4px solid rgb(125, 216, 228);
   
}
a.botao2{
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
}
a.botao2:hover{
    text-decoration: underline; /*Linha abaixo do texto*/
    padding: 8px; /*preenchimento interno*/
    background: blue;
    color: rgb(243, 243, 243);
}
a.botao3{

    color: black;
    text-decoration: none;

}
a.botao3:hover{

    color: red;
    border-bottom: 3px solid black;

}
a.botao4{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
a.botao4:hover{
    font-size: 22px;
    font-weight: bold; /*Deixando a fonte em negrito*/
}
a.botao5{
    cursor:move ; /*Muda o cursor que aparece na tela*/
}
