.borda{
    border: 1px solid plum;
}

/*
formas de mudar o display: ex o paragrafo que 
sempre é em bloco agora vai seguir um do lado do outro
p{
    display:inline;
}

*/
#p1{
    /*O paragrafo não sera mostrado, para mostrar
    novamente é só colocar o display: block
    usamos isso pra fazer um tipo de interação
    igual quando usamos o hover*/

    display: none;
}

li{
    /*Deixando a lista uma do lado da outra*/
    display: inline;
    /*Temos também o inline-block
    que vai deixar o parágrafo em linha
    mas com o comportamento de um bloco, que 
    aceita alterações de dimenções
    diferente do inline
    display: inline-block
    */
}
.pink{
    background-color: pink;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
div{
    display: inline-block;
    width: 25%;
    height: 150px;
}
.ex1{
    /*cria-se uma barra de rolagem
    para acompanhar o tamanho da largura que 
    voce determinou
    mas isso para celulares não fica muito legal, então temos uma solução a Max-width*/
    max-width: 800px;
    /*Se ajusta a tela*/
}
.ex2{
    width: 600px;
}